 body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000000;
        }
        
        .timer-container {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
        }
        
        h1 {
            color: #333;
        }
        
        p {
            font-size: 2rem;
            margin-top: 20px;
        }
        
        span {
            font-weight: bold;
            color: red;

        }
